
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0; margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}
/* transition */
p {
    color: rgb(85, 85, 85);
}

a, .btn {
    transition: all 0.3s ease;
}

/* desktop nav */

nav,.nav-links{
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    padding: 20px 10%;
}

.nav-links {
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
    text-decoration-color: #f5f5f5;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);

}

.logo {
    font-size: 1.8rem;
}

.logo:hover {
    cursor: default;
}

/* hamburger  */

#hamburger-nav {
    display: none;
}
.hamburger-menu {
    position: relative;
    display: inline-block;
}
.hamburger-icon {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 cursor: pointer;
 height: 24px;
 width: 30px;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    border-radius: 1.5px;
    background-color: black;
    transform-origin: center;
    transition: transform 0.4s ease, opacity 0.2s ease;
}
.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px 20px;
    font-size: 1.5rem;
    text-align: right;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}
.hamburger-icon.open span:nth-child(1) {
    transform: translateY(10.5px) rotate(45deg);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
}
.hamburger-icon.open span:nth-child(3) {
    transform: translateY(-10.5px) rotate(-45deg);
}
